<ul>
    <li *ngFor="let user of users">
        {{user.name}} - {{user.id}}
    </li>
</ul>

<form> 
        <fieldset>  
    Rijksregisternummer (INSS):<br>
    <input type="text" name="firstname"><br>

    First name:<br>
    <input type="text" name="lastname"><br>

    Last name:<br>
    <input type="text" name="lastname"><br>

    street:<br>
    <input type="text" name="lastname"><br>

    Housenumber:<br>
    <input type="text" name="lastname"><br>

    Postal code:<br>
    <input type="text" name="lastname"><br>

    City:<br>
    <input type="text" name="lastname"><br>
    <input type="submit" value="Submit">
</fieldset>

</form>