<div class='booksWrapper'>
    <div class='leftDiv' (click)="selectBook(book, $event)">
        <table class="table table-striped table-hover">
            <tr>
                <th>Isbn</th>
                <th>Title</th>
                <th>Last name</th>
                <th>First name</th>
                <th>Id</th>
            </tr>
            <tr *ngFor="let book of books">
                <td>{{book.isbn}}</td>
                <td>{{book.title}}</td>
                <td>{{book.lastName}}</td>
                <td>{{book.firstName}}</td>
                <td>{{book.id}}</td>
            </tr>
        </table>
    </div>
    <section id="bookDetails" class="tiny-dialog fader"     >
     <!-- *ngIf="selectedBook" -->
        <div class='rightDiv'>
            <h3>{{selectedBook.title}}</h3>
            <p>Isbn: {{selectedBook.isbn}}</p>
            <p>Author first name: {{selectedBook.firstName}}</p>
            <p>Author last name: {{selectedBook.lastName}}</p>
            <p>Book Id: {{selectedBook.id}}</p>
            <p>number of books available: </p>
            <!-- <div class="dialog-centered">
          <a type="button"
             class="btn btn-primary btn-lg dialog-centered"
             (click)="loanBook(selectedBook)">
            Loan Book 
            </a>
        </div> -->

        </div>
    </section>
</div>
<!-- <form role="search">
    <div>
      <input type="search" id="mySearch" name="q"
       placeholder="Search by Id..."
       aria-label="Search through bibliodory content">
      <button>Search</button>
    </div>
  </form> -->