<table class="table table-striped table-hover">
    <tr>
        <th>Isbn</th>
        <th>Title</th>
        <th>Last name</th>
        <th>First name</th>
    </tr>
    <tr *ngFor="let book of books"> 
        <td>{{book.isbn}}</td>
        <td>{{book.title}}</td>
        <td>{{book.lastName}}</td>
        <td>{{book.firstName}}</td>
    </tr>
</table>

<form (ngSubmit)="onSubmit()" #registerBookForm="ngForm">
    <div class="form-group">

        <label for="isbn">ISBN - Number:</label><br>
        <input type="text" name="isbn" required [(ngModel)]="model.isbn" #isbn="ngModel"><br>

        <label for="firsName">First name Author:</label><br>
        <input type="text" name="firstName" required [(ngModel)]="model.firstName" #firstName="ngModel"><br>

        <label for="lastNameAuthor">Last name Author:</label> <br>
        <input type="text" name="lastNameAuthor" required [(ngModel)]="model.lastNameAuthor" #lastNameAuthor="ngModel"><br>

        <label for="title"> Book Title:</label>   <br>
        <input type="text" name="title" [(ngModel)]="model.title" #title="ngModel"><br>

        <button type="submit" class="btn btn-success" (click)="newBook(); registerBookForm.reset()">Register New Book</button>

    </div>
</form>